<p class="Signup-header">My Todo Manager</p>
<p class="Sign-header">Sign-up</p>
<div class="SignupForm">
  <%=form_with(url: users_path , method: "post") do |form| %>
    <div class="SignupForm-input">
      <p class="SignupForm-label">First Name</p>
      <%=form.text_field :first_name , class: "SignupForm-text"%>
    </div>
   <div class="SignupForm-input">
      <p class="SignupForm-label">Last Name</p>
      <%=form.text_field :last_name, class: "SignupForm-text" %>
   </div>
    <div class="SignupForm-input">
      <p class="SignupForm-label">Email</p>
      <%=form.email_field :email , class: "SignupForm-text"%>
    </div>
    <div class="SignupForm-input">
     <p class="SignupForm-label">Password</p>
     <%=form.password_field :password, class: "SignupForm-text" %>
    </div>
    <div class="SignupForm-input">
     <%= form.submit "Sign-up", class: "SignupForm-submit"%>
    </div>
  <%end%>
</div>
